{
  "extends": [
    "@atlassian/atlassian-style-guide"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "quotes": [2, "single"]
  },
  "globals": {
    "AJS": true,
    "aui": true
  }
}